<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商城管理系统</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--   look at http://fontawesome.dashgame.com/   -->
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main/main.css">
    <link rel="stylesheet" href="../css/clientuser/clientuser.css">
</head>
<body>
<div id="container">
    <!--             顶部标题             -->
    <nav class="navbar navbar-dark bg-dark top-span">
        <div class="navbar-brand head-left">商城管理系统</div>
        <div class="navbar-brand head-right">
            <button id="tasks" type="button" class="btn btn-primary">
                <span class="badge badge-light">99</span>
                <i id="task" class="fa fa-tasks fa-2x" style="color: #FFFFFF"></i>
            </button>

            <button id="signout" type="button" class="btn btn-danger">
                <i class="fa fa-sign-out fa-2x" style="color: #FFFFFF"></i>
            </button>
        </div>
    </nav>
    <!--             下方容器             -->
    <div class="container-fluid">
        <nav class="navbar navbar-dark bg-dark left-span">
            <div class="card">
                <i class="fa fa-user-circle-o fa-4x"></i>
                <p class="font-italic font-weight-bold username">----</p>
                <p class="font-italic font-weight-bold lastlogin">上次登录时间：----.--.--</p>
            </div>
            <nav id="left-menu" class="nav flex-column">
                <!--       首页         -->
                <div class="card">
                    <div id="headingHome" class="card-header collapsed menu-home">
                        <i class="fa fa-home fa-lg fa-left"></i>
                        <p class="font-weight-bold">后台首页</p>
                    </div>
                </div>
                <!--       菜单1 用户管理         -->
                <div class="card">
                    <div id="headingOne" class="card-header collapsed menu-other" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <i class="fa fa-users fa-lg fa-left"></i>
                        <p class="font-weight-bold">用户管理</p>
                        <i class="fa fa-chevron-left fa-lg fa-right"></i>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="nav flex-column menu-detail">
                                <li class="nav-item">
                                    <i class="fa fa-list-ul fa-lg"></i>
                                    <p class="font-weight-bold">用户列表</p>
                                </li>
                                <li class="nav-item">
                                    <i class="fa fa-gift fa-lg"></i>
                                    <p class="font-weight-bold">会员等级</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--       菜单2 商品管理         -->
                <div class="card">
                    <div id="headingTwo" class="card-header collapsed menu-other" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="fa fa-cart-plus fa-lg fa-left"></i>
                        <p class="font-weight-bold">商品管理</p>
                        <i class="fa fa-chevron-left fa-lg fa-right"></i>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="nav flex-column menu-detail">
                                <li class="nav-item">
                                    <i class="fa fa-tag fa-lg"></i>
                                    <p class="font-weight-bold">商品类别</p>
                                </li>
                                <li class="nav-item">
                                    <i class="fa fa-plus-square fa-lg"></i>
                                    <p class="font-weight-bold">添加商品</p>
                                </li>
                                <li class="nav-item">
                                    <i class="fa fa-wrench fa-lg"></i>
                                    <p class="font-weight-bold">商品调整</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--       菜单3 营销方式         -->
                <div class="card">
                    <div id="headingThree" class="card-header collapsed menu-other" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="fa fa-cogs fa-lg fa-left"></i>
                        <p class="font-weight-bold">营销管理</p>
                        <i class="fa fa-chevron-left fa-lg fa-right"></i>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="nav flex-column menu-detail">
                                <li class="nav-item">
                                    <i class="fa fa-sticky-note-o fa-lg"></i>
                                    <p class="font-weight-bold">优惠券</p>
                                </li>
                                <li class="nav-item">
                                    <i class="fa fa-gamepad fa-lg"></i>
                                    <p class="font-weight-bold">积分消费</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--       菜单4 订单管理         -->
                <div class="card">
                    <div id="headingFour" class="card-header collapsed menu-other" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <i class="fa fa-shopping-basket fa-lg fa-left"></i>
                        <p class="font-weight-bold">订单管理</p>
                        <i class="fa fa-chevron-left fa-lg fa-right"></i>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="nav flex-column menu-detail">
                                <li class="nav-item">
                                    <i class="fa fa-reorder fa-lg"></i>
                                    <p class="font-weight-bold">订单列表</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--       菜单5 数据报表         -->
                <div class="card">
                    <div id="headingFive" class="card-header collapsed menu-other" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <i class="fa fa-bar-chart fa-lg fa-left"></i>
                        <p class="font-weight-bold">数据报表</p>
                        <i class="fa fa-chevron-left fa-lg fa-right"></i>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="nav flex-column menu-detail">
                                <li class="nav-item">
                                    <i class="fa fa-bar-chart fa-lg"></i>
                                    <p class="font-weight-bold">订单报表</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--       菜单6 定制页面         -->
                <div class="card">
                    <div id="headingSix" class="card-header collapsed menu-other" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <i class="fa fa-chain fa-lg fa-left"></i>
                        <p class="font-weight-bold">定制页面</p>
                        <i class="fa fa-chevron-left fa-lg fa-right"></i>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="nav flex-column menu-detail">
                                <li class="nav-item">
                                    <i class="fa fa-pencil fa-lg"></i>
                                    <p class="font-weight-bold">首页管理</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--       菜单7 消息推送         -->
                <div class="card">
                    <div id="headingSeven" class="card-header collapsed menu-other" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        <i class="fa fa-comments-o fa-lg fa-left"></i>
                        <p class="font-weight-bold">消息推送</p>
                        <i class="fa fa-chevron-left fa-lg fa-right"></i>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="nav flex-column menu-detail">
                                <li class="nav-item">
                                    <i class="fa fa-comments-o fa-lg"></i>
                                    <p class="font-weight-bold">推送消息</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--       菜单8 系统设置        -->
                <div class="card">
                    <div id="headingEight" class="card-header collapsed menu-other" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        <i class="fa fa-cog fa-lg fa-left"></i>
                        <p class="font-weight-bold">系统设置</p>
                        <i class="fa fa-chevron-left fa-lg fa-right"></i>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="nav flex-column menu-detail">
                                <li class="nav-item">
                                    <i class="fa fa-key fa-lg"></i>
                                    <p class="font-weight-bold">添加管理员</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </nav>
        <div class="right-span">
            <div class="html-container"></div>
        </div>
    </div>
</div>
<!--             浮层             -->
<div id="modal-all" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tipsModalLongTitle">消息提示</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>

<script src="../js/jquery-3.3.1.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../js/main/common.js"></script>
<script src="../js/main/controller.js"></script>
<script src="../js/main/clientuser.js"></script>
<script src="../js/main/main.js"></script>
</body>
</html>